# <center>Assignment

Download the file `athlete_events.csv` The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [114]:
import pandas as pd

In [115]:
# Change the path to the dataset file if needed. 
PATH = 'athlete events.csv'

In [116]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1988 Olympics?__

In [117]:
# Filter the data to include only the participants from the 1988 Olympics
data_1988 = data[data['Year'] == 1988]

# Find the minimum age for males and females
youngest_male = data_1988[data_1988['Sex'] == 'M']['Age'].min()
youngest_female = data_1988[data_1988['Sex'] == 'F']['Age'].min()

print("The youngest male participant in the 1988 Olympics was", youngest_male, "years old.")
print("The youngest female participant in the 1988 Olympics was", youngest_female, "years old.")

The youngest male participant in the 1988 Olympics was 12.0 years old.
The youngest female participant in the 1988 Olympics was 11.0 years old.

__2. What was the percentage of female basketball players among all the female participants of the 2012 Olympics? Round the answer to the first decimal.__

*Hint:* drop duplicate athletes where necessary to count each athlete just once. This applies to other questions too.

In [118]:
# Filter the data to include only the participants from the 2012 Olympics without dublicate athletes
data_2012 = data[data['Year']==2012].drop_duplicates(subset='ID')

# Filer the data to include only female
data_2012_female = data_2012[data_2012['Sex']== 'F']

# Filter the data to include only females playing Basketball
data_2012_female_bask = data_2012_female[data_2012_female['Sport']=='Basketball']

# Calculate and round persentage
persentage = len(data_2012_female_bask)/len(data_2012_female)*100
persentage = round (persentage,1)

print("The percentage of female basketball players among all the female participants of the 2012 Olympics: ", persentage, "%.")

The percentage of female basketball players among all the female participants of the 2012 Olympics:  3.1 %.

__3. What are the mean and max of height for female tennis players who participated in the 1988 Olympics? Round the answer to the first decimal.__

In [119]:
# Filter the data to include only the participants from the 1988 Olympics
data_1988 = data[data['Year'] == 1988]

# Find the minimum age for males and females
highest_height = data_1988[(data_1988['Sex'] == 'F') & (data_1988['Sport']=='Tennis')]['Height'].max()
mean_height = data_1988[(data_1988['Sex'] == 'F') & (data_1988['Sport']=='Tennis')]['Height'].mean()

print("The max of height for female tennis players who participated in the 1988 Olympics was", highest_height, "cm.")
print("The mean of height for female tennis players who participated in the 1988 Olympics was", round (mean_height,1), "cm.")

The max of height for female tennis players who participated in the 1988 Olympics was 190.0 cm.
The mean of height for female tennis players who participated in the 1988 Olympics was 171.7 cm.

__4. Find the heaviest athlete among 1988 Olympics participants. What sport did he or she do?__

In [120]:
# Filter the data to include only the participants from the 1988 Olympics
data_1988 = data[data['Year'] == 1988]

# find heaviest athlete 
heaviest_value = data_1988['Weight'].max()
dt_1988 = data_1988[['Year','Name', 'Sex','Weight', 'Sport']]
heaviest_athlete = dt_1988[dt_1988['Weight']==heaviest_value]

# convert to comfortable format
dict = heaviest_athlete.to_dict('records')

# change Sex in dict for confortable output 
if dict[0]['Sex'] == 'M':
    dict[0]['Sex'] = 'He'
else:
    dict[0]['Sex'] = 'She'
print(dict[0]['Name']," is the heaviest athlete among 1988 Olympics participants.", dict[0]['Sex'], 'has weight',
      dict[0]['Weight'], 'kg.', dict[0]['Sex'], 'did' ,dict[0]['Sport'])

Ji Zubrick  is the heaviest athlete among 1988 Olympics participants. He has weight 161.0 kg. He did Weightlifting

__5. How many times did John Aalberg participate in the Olympics held in different years?__

In [121]:
# find count for deduplicated records by year for one athlete
count = len(data[data['Name'] == 'John Aalberg'].drop_duplicates(subset='Year'))

print ("John Aalberg participated in the Olympics held in different years", count,"times." )

John Aalberg participated in the Olympics held in different years 2 times.

__6. How many events did John Aalberg participate in during the Olympics held in Albertville?__

In [123]:
# list of events
data_ath = data[(data['Name'] == 'John Aalberg')& (data['City']=='Albertville')]

# find count
count = len(data_ath)
#print ("John Aalberg participated in ", count,"events during the Olympics held in Albertville." )

__7. How many gold medals in tennis did the Belarus team win at the 2012 Olympics?__

In [124]:
# find rows with gold medals in tennis did the Belarus team win at the 2012 Olympics
data_belarus = data[(data['Year'] == 2012) & (data['Team'] == 'Belarus') & (data['Sport']  == 'Tennis') & (data['Medal'] == 'Gold')]
# find count
count = len(data_belarus)
print ("Belarus team win ", count,"gold medals in tennis." )

Belarus team win  2 gold medals in tennis.

__8. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__

In [125]:
# filter NaN values
filtered_df = data[data['Medal'].notnull()]

# find count for Spain at the 2016 Olympics
spain = filtered_df[(filtered_df['Year'] == 2016) & (filtered_df['Team'] == 'Spain')].drop_duplicates(subset=[ 'Event','Medal'])
count_sp = len(spain)
 
# find count for Italy at the 2016 Olympics    
italy = filtered_df[(filtered_df['Year'] == 2016) & (filtered_df['Team'] == 'Italy')].drop_duplicates(subset=[ 'Event','Medal'])
count_it = len(italy)

# compare and print
if count_sp < count_it:
    print('Ít is true that Spain won fewer medals than Italy at the 2016 Olympics')
elif count_sp > count_it:
    print('Ít is false that Spain won fewer medals than Italy at the 2016 Olympics')
else:
    print('Ít is false that Spain won fewer medals than Italy at the 2016 Olympics. Numbers of medals the same.')

Ít is true that Spain won fewer medals than Italy at the 2016 Olympics

__9. What is the absolute difference between the number of unique sports at the 1988 Olympics and 2002 Olympics?__

In [126]:
# find count of unique sports at the 1988 Olympics
data_1988 = data[data['Year'] == 1988]
data_sport_1988 = data_1988['Sport'].drop_duplicates()
count_1988 = len(data_sport_1988)

# find count of unique sports at the 2016 Olympics
data_2016 = data[data['Year'] == 2016]
data_sport_2016 = data_2016['Sport'].drop_duplicates()
count_2016 = len(data_sport_2016)

# find absolute difference between the number of unique sports at the 1988 Olympics and 2002 Olympics
diff = abs(count_2016-count_1988)

print('Absolute difference between the number of unique sports at the 1988 Olympics and 2002 Olympics is', diff)

Absolute difference between the number of unique sports at the 1988 Olympics and 2002 Olympics is 3

__10. Who won the highest number of medals overall?__
    
*Hint*: country

In [127]:
# Find the numbers of medals by country
filtered_df = data[data['Medal'].notnull()]
data_country_medals = filtered_df[['Team', 'Year', 'Sport', 'Event', 'Medal']].drop_duplicates()
data_group = data_country_medals.groupby(['Team' ])[ 'Medal'].count().reset_index(name='count')

# find maximum count of medals
data_highest = data_group[data_group['count']==data_group['count'].max()]
dict = data_highest.to_dict('records')

print (dict[0]['Team'], 'won the highest number of medals overall. Numbers of medals:', dict[0]['count'])

United States won the highest number of medals overall. Numbers of medals: 2700