# <center>Assignment

Download the file `athlete_events.csv` The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd

In [2]:
# Change the path to the dataset file if needed. 
PATH = 'athlete events.csv'

In [3]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1988 Olympics?__

In [14]:
# Filter the data to include only the participants from the 1988 Olympics
data_1988 = data[data['Year'] == 1988]

# Find the minimum age for males and females
youngest_male = data_1988[data_1988['Sex'] == 'M']['Age'].min()
youngest_female = data_1988[data_1988['Sex'] == 'F']['Age'].min()

print("The youngest male participant in the 1988 Olympics was", youngest_male, "years old.")
print("The youngest female participant in the 1988 Olympics was", youngest_female, "years old.")

The youngest male participant in the 1988 Olympics was 12.0 years old.
The youngest female participant in the 1988 Olympics was 11.0 years old.

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
10,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
11,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
12,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
13,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
14,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
15,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN
16,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
17,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN

__2. What was the percentage of female basketball players among all the female participants of the 2012 Olympics? Round the answer to the first decimal.__

*Hint:* drop duplicate athletes where necessary to count each athlete just once. This applies to other questions too.

In [24]:
# Filter the data to include only the participants from the 2012 Olympics without dublicate athletes
data_2012 = data[data['Year']==2012].drop_duplicates(subset='ID')
# Filer the data to include only female
data_2012_female = data_2012[data_2012['Sex']== 'F']
# Filter the data to include only females playing Basketball
data_2012_female_bask = data_2012_female[data_2012_female['Sport']=='Basketball']
# Calculate and round persentage
persentage = len(data_2012_female_bask)/len(data_2012_female)*100
persentage = round (persentage,1)

print("The percentage of female basketball players among all the female participants of the 2012 Olympics: ", persentage, "%.")

The percentage of female basketball players among all the female participants of the 2012 Olympics:  3.1 %.

__3. What are the mean and max of height for female tennis players who participated in the 1988 Olympics? Round the answer to the first decimal.__

In [ ]:
# You code here

__4. Find the heaviest athlete among 1988 Olympics participants. What sport did he or she do?__

In [ ]:
# You code here

__5. How many times did John Aalberg participate in the Olympics held in different years?__

In [ ]:
# You code here

__6. How many events did John Aalberg participate in during the Olympics held in Albertville?__

In [ ]:
# You code here

__7. How many gold medals in tennis did the Belarus team win at the 2012 Olympics?__

In [ ]:
# You code here

__8. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__

In [ ]:
# You code here

__9. What is the absolute difference between the number of unique sports at the 1988 Olympics and 2002 Olympics?__

In [ ]:
# You code here

__10. Who won the highest number of medals overall?__
    
*Hint*: country

In [ ]:
# You code here